<body>
  <center><div class="logo"><img src="images/logo.png" /></div>
  <div class="search-form"><form action="/search"> <input type="text" name="query" id="query"> <button>Search</button></form></div>
  <div class="footer"><p>www.allsum.org &copy; <%= Time.now.year %> by J. Brett Cunningham </p>
                      <p>Logo by Dustin W. Webber</p></div><br><br><br>
  <li class=''><a href="about" class="scroll">About Allsum</a></li>
  <li class=''><a href="support" class="scroll">Support</a></li>
  <li class=''><a href="https://github.com/jbc22/allsum/" class="scroll">Source Code</a></li>
  <li class=''><a href="https://github.com/jbc22/allsum/wiki" class="scroll">Documentation</a></li>
</body>
<link rel="stylesheet" type="text/css" href="stylesheets/allsum.css" media="all">

