<body>
  <center><div class="logo"><img src="images/logo.png" /></div>
  No match found
  <div class="search-form"><form action="/search"> <input type="text" name="query" id="query"> <button>Search</button></form></div>
  <div class="footer"><p>www.allsum.org &copy; <%= Time.now.year %> by J. Brett Cunningham </p>
                      <p>Logo by Dustin W. Webber</p></div><br><br><br>
  <div class="about"><button>About Allsum</button></form>
  <button>Code and Docs</button></form></div>
</body>
<link rel="stylesheet" type="text/css" href="stylesheets/allsum.css" media="all">

